/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

html, body, #app, #app>div {
  height: 100%
}

.main-wrapper {
  height: 100%;
  width: 100%;
  flex: 1;
}

.content {
  flex: 1;
  background-color: red;
}